#full_logo
{
	margin-top:-30px;
	margin-left:-10px;
}

#logo
{
	margin-top:-10px;
	margin-left:-10px;
}

#display-notifications
{
	margin-left:100px;
	margin-right:100px;
}
#display-notifications
{
	margin-left:200px;
	margin-right:200px;
}
#notification-heading
{
	font-size:30px;
	margin-left: 200px;
	
} 
/*index page */
.jumbotron
 {
	
    margin-left: 250px;
	margin-right:250px;
	margin-top:30px;

}
#job_search_bar
{
	margin-top: -20px;
}
#college_search_bar
{
	margin-top: -20px;
}
#layout
{
	text-align:center;
}

#chat
{
	border:1px;
}
/* Job_search*/

#search_results
{
	float:left;
	
	
}
#sort_by
{
	float:right;
	
}


#applied
{
	margin-left:100px;
	font-size:30px;
}
#applied_button
{
	margin-left:100px;
}
#return_button
{
	margin-left:300px;
}
#college_logo
{
	
	float:left;
	margin-left:300px;
	margin-top:-10px;
}
#course_name
{
	margin-top:10px;
	font-size:20px;
	float:left;
}

#college_name
{
	
	font-size:15px;

}
#apply_button
{
	margin-top:20px;
	float: right;
	margin-right: 200px;
}
#subscribe_button
{
	margin-top:20px;
	float:right;
	margin-right: 10px;
}
#information
{
	float:left;
	
}

#skills
{
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 80px;

	font-size:15px;
}
#weDo
{
	padding-top: 80px;
	float:left;
	font-size:15px;
}

.error{
    float: left;
    display: none;
}

/*Logged in college*/

#logged_in_details
{
	margin-left:10%;
}



