.row.content{
	height:1500px;
}

.sidenav{
	height:30%;
	
}

#advLink{
	background-color:#f5f5f5;
}
select, textarea,input {
	max-width: 400px;
}

.view{
	color:black;
}

.title{
	background-color:#f5f5f5;
}

.name{
	font-size:140%;
	color:black;
}

h3{
	text-align: center;
}
