#full_logo
{
	margin-top:-30px;
	margin-left:-10px;
}

#logo
{
	margin-top:-10px;
	margin-left:-10px;
}

#display-notifications
{
	margin-left:100px;
	margin-right:100px;
}
#display-notifications
{
	margin-left:200px;
	margin-right:200px;
}
#notification-heading
{
	font-size:30px;
	margin-left: 200px;
	
} 
/*index page */
.jumbotron
 {
	
    margin-left: 250px;
	margin-right:250px;
	margin-top:30px;

}
#job_search_bar
{
	margin-top: -20px;
}
#college_search_bar
{
	margin-top: -20px;
}
#layout
{
	text-align:center;
}

#chat
{
	border:1px;
}
/* Job_search*/

#search_results
{
	float:left;
	
	
}
#sort_by
{
	float:right;
	
}


#applied
{
	margin-left:100px;
	font-size:30px;
}
#applied_button
{
	margin-left:100px;
}
#return_button
{
	margin-left:300px;
}
#college_logo
{
	
	float:left;
	margin-left:300px;
	margin-top:-10px;
}
#course_name
{
	margin-top:10px;
	font-size:20px;
	float:left;
}

#college_name
{
	
	font-size:15px;

}
#apply_button
{
	margin-top:20px;
	float: right;
	margin-right: 200px;
}
#subscribe_button
{
	margin-top:20px;
	float:right;
	margin-right: 10px;
}
#information
{
	float:left;
	
}

#skills
{
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 80px;

	font-size:15px;
}
#weDo
{
	padding-top: 80px;
	float:left;
	font-size:15px;
}

.error{
    float: left;
    display: none;
}

<<<<<<< HEAD

=======
body{padding:15px}
>>>>>>> 89fee35a878dd2bf1210d88170d9c2191d2162b2

.notification-list, .n-user-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.notification-list > li {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    padding: 5px 0;
}
.notification-list .cat-icon {
    width: 20px;
}
.notification-list .avatar {
    width: 30px;
}

.rounded {
    border-radius: 0.25rem;
}
.n-user-list{margin-bottom:5px;}
.n-user-list:after{clear:both; content:''; display:table;}
.n-user-list li{float:left;}
.n-user-list li + li{margin-left:3px;}
.n-user-list li a, .n-user-list li a:hober{text-decoration:none;}


#logged_in_details
{
	margin-left:0%;
	float:left;
	margin-right:83%;
	padding-left:10px;
}

#feed
{
	
}